<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="form.css">
    <link rel="stylesheet" href="rssFeed.css">
    <link rel="stylesheet" href="manIngestion.css">
    <link rel="stylesheet" href="activeItem.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="sigtrace.png" type="image/x-icon">
    <title>SignalTrace_v0</title>
</head>